.langNetwork {
    /*width: 90%;*/
    /*height: 50%;*/
}

.langNetwork {

    height: 500px;

}

.cycleNetwork {

    height: 500px;

}


.smaller {
    height: 500px;
}

.smallPic {
    height: 400px;
}

.smallerFont {
    font-size: 0.75rem;
}